.button {
  display: flex;
  align-items: center;
  color: $black;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 47px;
  background-color: $basic-yellow;
  border-radius: 8px;
  font-weight: 500;
}
