.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;
  width: 187px;
  height: 47px;
  background-color: $basic-yellow;
  border-radius: 8px;
  font-weight: 500;

  &:hover {
    background-color: $basic-dark-yellow;
    transition: background-color 0.5s ease;
  }
}
