.container {
  width: $desktop-width;
  margin: 0 auto;
  padding: 0 165px;
}

@media (max-width: $tablet-breakpoint) {
  .container {
    width: $tablet-width;
    margin: 0 auto;
    padding: 0 40px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .container {
    width: 375px;
    margin: 0 auto;
    padding: 0 14px;
  }
}