.container {
  width: $desktop-width;
  margin: 0 auto;
  padding: 0 165px;
}

@media (max-width: $tablet-breakpoint) {
  .container {
    width: $tablet-width;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .container {
    width: $mobile-width;
    padding-left: 14px;
    padding-right: 14px;
  }
}