.header {
  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $mobile-breakpoint) {
    padding-top: 19px;
    padding-bottom: 20px;
  }
}

/*header__logo*/

.header__logo {
  flex-grow: 1;
}

.header__logo-mobile {
  display: none;
  @media (max-width: $mobile-breakpoint) {
    display: block;
  }
}

.header__logo-desktop {
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

/*header__phone*/

.header__phone {
  position: relative;
  margin: 0;
  margin-right: 32px;
  z-index: 10;
  
  @media (max-width: $mobile-breakpoint) {
    font-size: 0;
    padding: 20px 20px;
  }
}

.header__phone a::before {
  @media (max-width: $mobile-breakpoint) {
    position: absolute;
    content: "";
    width: 16px;
    height: 24px;
    top: 9px;
    right: -10px;
    background-image: url("../img/icon/phone.svg");
    background-repeat: no-repeat;
  }
}

/*header__button*/

.header__button {
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}
