.instagram {
  margin-bottom: 69px;
}

.instagram__title {
  font-size: 32px;
  font-weight: 500;
  margin: 0 0 34px;

  @media (max-width: $mobile-breakpoint) {
    font-size: 24px;
  }
}

.instagram__photo-list {
  display: grid;
  grid-template-columns: repeat(4, 255px);
  column-gap: 30px;
  row-gap: 30px;
  list-style: none;
  margin: 0 0 30px;
  padding: 0;

  @media (max-width: $tablet-breakpoint) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
    column-gap: 0;
    row-gap: 0;
    margin: 0 0 12px;
  }
}

.instagram__photo-item:not(:nth-last-child(1)) {
  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 12px;
  }
}

.instagram__photo-item:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}

.instagram__photo-wrap {
  width: 255px;
  height: 255px;
  border-radius: 8px;
  background-color: $basic-gray;

  @media (max-width: $tablet-breakpoint) {
    width: 210px;
    height: 210px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 346px;
    height: 346px;
  }
}

.instagram__photo-item:first-child .instagram__photo-wrap--big {
  width: 540px;
  height: 540px;

  @media (max-width: $tablet-breakpoint) {
    width: 330px;
    height: 330px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 346px;
    height: 346px;
  }
}

.instagram__photo-item:nth-child(2) .instagram__photo-wrap--big {
  @media (max-width: $tablet-breakpoint) {
    width: 330px;
    height: 330px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 346px;
    height: 346px;
  }
}

.instagram__button-else {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  width: 1110px;
  min-height: 47px;
  background-color: $basic-gray;
  border-radius: 8px;

  @media (max-width: $tablet-breakpoint) {
    width: 690px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 346px;
  }
}