body {
  min-width: 375px;
  margin: 0;
  padding: 0;

  font-family: $main-fonts;
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  color: $black;

  background-color: #ffffff;

  overflow-x: hidden;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: border-box; }

a {
  text-decoration: none;
  color: $black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}