//Colors
$black-opacity: rgba(0, 0, 0, 0.5);
$black: #000000;
$white: #ffffff;
$basic-gray: #f5f5f5;
$basic-dark-gray: #b3b3b3;
$basic-yellow: #ffdf31;
$basic-dark-yellow: #f0a32f;

//Container width
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 375px;

//Breakpoints
$tablet-breakpoint: 1439px;
$mobile-breakpoint: 767px;

//Template Fonts for BODY
$main-fonts: "EuclidCircularB", "Arial", sans-serif;
$sec-fonts: "EuclidCircularB", "Arial", sans-serif;
$main-font-size: 18px;
$main-font-weight: 500;
